@model CollectApp.ViewModels.CreateCollectViewModel
@{
    ViewData["Title"] = "Inserir coleta";
}

<div class="container">
    <h1 class="mb-4">Insira uma coleta</h1>
    <form asp-controller="Collect" asp-action="CreateCollect" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="Supplier"></label>
            <input id="Supplier" class="form-control" autocomplete="off">
            <input asp-for="SupplierId" type="hidden">
            <ul id="listSuppliers" class="d-none position-absolute z-3">
        @if (@Model.SuppliersList != null){
            @foreach (Supplier supplier in @Model.SuppliersList){
                <li class="itemSupplier" data-id="@supplier.Id">@supplier.Name</li>
            }
        }
            </ul>
            <span asp-validation-for="Supplier" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="CollectAt"></label>
            <input asp-for="CollectAt" class="form-control">
            <span asp-validation-for="CollectAt" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="Product"></label>
            <input id="Product" class="form-control" autocomplete="off">
            <input asp-for="ProductId" type="hidden">
            <ul id="listProducts" class="d-none position-absolute z-3">
        @if (@Model.ProductsList != null){
            @foreach (Product product in @Model.ProductsList){
                <li class="itemProduct" data-id="@product.Id">@product.Description</li>
            }
        }
            </ul>
            <span asp-validation-for="Product" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="Volume"></label>
            <input asp-for="Volume" class="form-control">
            <span asp-validation-for="Volume" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="Weight"></label>
            <input asp-for="Weight" class="form-control">
            <span asp-validation-for="Weight" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="form-group mt-4 col-4 position-relative">
            <label asp-for="Filial"></label>
            <input asp-for="Filial" class="form-control">
            <span asp-validation-for="Filial" class="text-danger position-absolute span-font-size"></span>
        </div>
        <div class="text-end mt-4 col-4">
            <a asp-controller="Collect" asp-action="ListCollects"><button type="button" class="btn btn-secondary">Voltar</button></a>
            <button type="submit" class="btn btn-primary">Criar</button>
        </div>
    </form>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}