@model IEnumerable<CollectApp.Models.Collect>
@{
    ViewData["Title"] = "Collects list";
}
<h1 class="mb-2">Collects list</h1>
<a class="nav-link text-primary" asp-area="" asp-controller="Collect" asp-action="CreateCollect">Insert a collect</a>

<div class="container mt-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
                <th>@Html.DisplayNameFor(model => model.Company)</th>
                <th>@Html.DisplayNameFor(model => model.CollectAt)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
            </tr>
        </thead>
    @foreach (Collect collect in Model)
    {
        <tbody>
            <tr>
                <td>@Html.DisplayFor(item => collect.Id)</td>
                <td>@Html.DisplayFor(item => collect.CreatedAt)</td>
                <td>@Html.DisplayFor(item => collect.Company)</td>
                <td>@Html.DisplayFor(item => collect.CollectAt)</td>
                <td>@Html.DisplayFor(item => collect.Status)</td>
            </tr>
        </tbody>
    }        
    </table>
</div>