@using CollectApp.ViewModels
@model IEnumerable<CollectApp.Models.Collect>
@{
    ViewData["Title"] = "Lista de coletas";
}
<h1 class="mb-2">Lista de coletas</h1>
<a class="nav-link text-primary" asp-area="" asp-controller="Collect" asp-action="CreateCollect">Inserir coleta</a>

<div class="container mt-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
                <th>@Html.DisplayNameFor(model => model.Company)</th>
                <th>@Html.DisplayNameFor(model => model.CollectAt)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th>@Html.DisplayNameFor(model => model.Volume)</th>
                <th>@Html.DisplayNameFor(model => model.Weigth)</th>
                <th>@Html.DisplayNameFor(model => model.Filial)</th>
                <th></th>
            </tr>
        </thead>
    @foreach (Collect collect in Model)
    {
        ChangeStatusCollectViewModel c = new  ChangeStatusCollectViewModel{Id = collect.Id, Status = collect.Status};
        <tbody>
            <tr>
                <td>@Html.DisplayFor(item => collect.Id)</td>
                <td>@Html.DisplayFor(item => collect.CreatedAt)</td>
                <td>@Html.DisplayFor(item => collect.Company)</td>
                <td>@Html.DisplayFor(item => collect.CollectAt)</td>
                <td>@Html.DisplayFor(item => collect.Status)</td>
                <td>@Html.DisplayFor(item => collect.Volume)</td>
                <td>@Html.DisplayFor(item => collect.Weigth)</td>
                <td>@Html.DisplayFor(item => collect.Filial)</td>
                <td>
                    @await Html.PartialAsync("_CollectsStatusButton", c)
                </td>
            </tr>
        </tbody>
    }        
    </table>
</div>