@using CollectApp.ViewModels
@model IEnumerable<CollectApp.ViewModels.FilialListViewModel>
@{
    ViewData["Title"] = "Lista de filiais";
    ViewBag.Message = TempData["Message"];
    ViewBag.ShowModal = TempData["ShowModal"];
}

<div class="container">
    <h1 class="mb-2">Lista de filiais</h1>
    <a class="nav-link text-primary mb-4 d-inline-block" asp-area="" asp-controller="Filial" asp-action="CreateFilial">Inserir filial</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (FilialListViewModel filial in Model)
    {
            <tr>
                <td>@Html.DisplayFor(item => filial.Id)</td>
                <td>@Html.DisplayFor(item => filial.Name)</td>
                <th class="text-end">
                    <a asp-action="EditFilial" asp-route-id="@filial.Id">
                        <img src="~/assets/img/pencil-icon.svg" alt="Edit button" width="24" height="24" />
                    </a>
                    <button type="button" class="p-0 border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#deleteModal-@filial.Id">
                        <img src="~/assets/img/trash-icon.svg" alt="Trash button" width="24" height="24" />
                    </button>
                </th>
            </tr>
            @await Html.PartialAsync("_DeleteFilialModal", filial.Id)
    }  
        </tbody>      
    </table>
</div>

@await Html.PartialAsync("_FilialModalError", ViewBag.Message as string)

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var showModal = '@ViewBag.ShowModal' === 'True';
            if (showModal) {
                var modalElement = document.getElementById('FilialModalError');
                if (modalElement) {
                    var modal = new bootstrap.Modal(modalElement);
                    modal.show();
                }
            }
        });
    </script>
}